#sIMULA DEMORA NAS CONSULTAS DE bd
SIMULATE_WAIT_IN_MS=100

# TAMANHO MAXIMO PARA UPLOAD DE IMAGENS
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600;

#NOME DA PASTA ONDE AS IMAGENS SÃO SALVAS
IMAGE_UPLOAD_DIRECTORY="uploads";

#BASE URL DA IMAGEM
IMAGE_SERVER_URL='http://localhost:3000/uploads';


#Chave JWT
JWT_SECRET_KEY='Chave usada para assinar Tokens JWT'

#Login timeout
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

#Cookie login
LOGIN_COOKIE_NAME='loginSession'

LOGIN_USER='luizotavio'
LOGIN_PASS='luizotavio'

ALLOW_LOGIN=0
